@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen:wght@300;400;700&display=swap');

:root {
  --font-primary: 'Nunito Sans', sans-serif;
  --font-secondary: 'Oxygen', sans-serif;
  --font-body: 'Libre Franklin', sans-serif;

  --color-white: #ffffff;

  --color-primary: #000000;
  --color-background: #6E927D;
  --color-highlight: #B8FDD6;
}